*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    margin-left: 15%;
    color: white;
}

#top{
    padding: 30px;
    color: rgb(255, 115, 0);
}
nav {
    height: 100%; 
    width: 260px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background: #2f2f2f;
    overflow-x: hidden; 
    padding-top: 20px;
    border: 2px solid #555;
}

nav ul {
    list-style: none;
}
  
nav li {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 20px 20px 20px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-para{
    padding-top: 20px;
    padding: 10px;
}

.nav-para a{
    margin-top: 10px;
}
.nav-links a:hover{
    background-color: rgb(255, 153, 0);
    color: black;
    transition: 00.5s ease-in;
}

.nav-para a:hover {
    color: rgb(216, 169, 14);
}

body {
    margin-left: 350px;
    padding: 0px 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    padding: 10px;
    background-color: orange;
    align-content: center;
}
td{
    padding: 30px;
    align-content: center;
}
.div-header, .div-typo, .div-format, .div-media, .div-table, .div-forms{
    margin-top: 5%;
}

#headers, #typography, #formatting, #media, #table, #forms{
    color: rgb(219, 153, 12);
    font-size: 30px;
    margin-bottom: 20px; 
}