*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}


body{
    background-color: black;
    margin-left: 20%;
    color: white;
}


#top{
    padding: 30px;
    color: rgb(255, 145, 0);
}
.nav {
    height: 100%; 
    width: 260px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #2f2f2f; 
    overflow-x: hidden; 
    padding-top: 20px;
    border: 2px solid #555;
}

.nav ul {
    list-style: none;
}
  
.nav li {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 20px 20px 20px 20px;
    
}

.nav a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-para{
    padding-top: 20px;
}

.nav-links a:hover{
    background-color: orange;
    color: black;
}



.nav-para a:hover {
    color: rgb(216, 169, 14);
}










table{
    width: 100%;
}

.div-header{
    margin-top: 5%;
}

.div-typo{
    margin-top: 5%;
}